project/src/main/resources/WS firma.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://itama.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://itama.com" name="ServiceSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://itama.com" schemaLocation="http://64.76.70.142:8080/signature-web/ServiceSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="firmaHash">
<part name="parameters" element="tns:firmaHash"/>
</message>
<message name="firmaHashResponse">
<part name="parameters" element="tns:firmaHashResponse"/>
</message>
<message name="obtieneHash">
<part name="parameters" element="tns:obtieneHash"/>
</message>
<message name="obtieneHashResponse">
<part name="parameters" element="tns:obtieneHashResponse"/>
</message>
<message name="guardarLog">
<part name="parameters" element="tns:guardarLog"/>
</message>
<message name="guardarLogResponse">
<part name="parameters" element="tns:guardarLogResponse"/>
</message>
<message name="anulaDocumento">
<part name="parameters" element="tns:anulaDocumento"/>
</message>
<message name="anulaDocumentoResponse">
<part name="parameters" element="tns:anulaDocumentoResponse"/>
</message>
<message name="consultarParametros">
<part name="parameters" element="tns:consultarParametros"/>
</message>
<message name="consultarParametrosResponse">
<part name="parameters" element="tns:consultarParametrosResponse"/>
</message>
<message name="firmarDocumentoServidorByte">
<part name="parameters" element="tns:firmarDocumentoServidorByte"/>
</message>
<message name="firmarDocumentoServidorByteResponse">
<part name="parameters" element="tns:firmarDocumentoServidorByteResponse"/>
</message>
<message name="validarCertificado">
<part name="parameters" element="tns:validarCertificado"/>
</message>
<message name="validarCertificadoResponse">
<part name="parameters" element="tns:validarCertificadoResponse"/>
</message>
<message name="verificarDocumentoFirmado">
<part name="parameters" element="tns:verificarDocumentoFirmado"/>
</message>
<message name="verificarDocumentoFirmadoResponse">
<part name="parameters" element="tns:verificarDocumentoFirmadoResponse"/>
</message>
<message name="firmarDocumentoServidor">
<part name="parameters" element="tns:firmarDocumentoServidor"/>
</message>
<message name="firmarDocumentoServidorResponse">
<part name="parameters" element="tns:firmarDocumentoServidorResponse"/>
</message>
<message name="cargarDocumentoPendiente">
<part name="parameters" element="tns:cargarDocumentoPendiente"/>
</message>
<message name="cargarDocumentoPendienteResponse">
<part name="parameters" element="tns:cargarDocumentoPendienteResponse"/>
</message>
<message name="descargarDocumentoFirmado">
<part name="parameters" element="tns:descargarDocumentoFirmado"/>
</message>
<message name="descargarDocumentoFirmadoResponse">
<part name="parameters" element="tns:descargarDocumentoFirmadoResponse"/>
</message>
<portType name="ServiceSoap">
<operation name="firmaHash">
<input wsam:Action="http://itama.com/ServiceSoap/firmaHashRequest" message="tns:firmaHash"/>
<output wsam:Action="http://itama.com/ServiceSoap/firmaHashResponse" message="tns:firmaHashResponse"/>
</operation>
<operation name="obtieneHash">
<input wsam:Action="http://itama.com/ServiceSoap/obtieneHashRequest" message="tns:obtieneHash"/>
<output wsam:Action="http://itama.com/ServiceSoap/obtieneHashResponse" message="tns:obtieneHashResponse"/>
</operation>
<operation name="guardarLog">
<input wsam:Action="http://itama.com/ServiceSoap/guardarLogRequest" message="tns:guardarLog"/>
<output wsam:Action="http://itama.com/ServiceSoap/guardarLogResponse" message="tns:guardarLogResponse"/>
</operation>
<operation name="anulaDocumento">
<input wsam:Action="http://itama.com/ServiceSoap/anulaDocumentoRequest" message="tns:anulaDocumento"/>
<output wsam:Action="http://itama.com/ServiceSoap/anulaDocumentoResponse" message="tns:anulaDocumentoResponse"/>
</operation>
<operation name="consultarParametros">
<input wsam:Action="http://itama.com/ServiceSoap/consultarParametrosRequest" message="tns:consultarParametros"/>
<output wsam:Action="http://itama.com/ServiceSoap/consultarParametrosResponse" message="tns:consultarParametrosResponse"/>
</operation>
<operation name="firmarDocumentoServidorByte">
<input wsam:Action="http://itama.com/ServiceSoap/firmarDocumentoServidorByteRequest" message="tns:firmarDocumentoServidorByte"/>
<output wsam:Action="http://itama.com/ServiceSoap/firmarDocumentoServidorByteResponse" message="tns:firmarDocumentoServidorByteResponse"/>
</operation>
<operation name="validarCertificado">
<input wsam:Action="http://itama.com/ServiceSoap/validarCertificadoRequest" message="tns:validarCertificado"/>
<output wsam:Action="http://itama.com/ServiceSoap/validarCertificadoResponse" message="tns:validarCertificadoResponse"/>
</operation>
<operation name="verificarDocumentoFirmado">
<input wsam:Action="http://itama.com/ServiceSoap/verificarDocumentoFirmadoRequest" message="tns:verificarDocumentoFirmado"/>
<output wsam:Action="http://itama.com/ServiceSoap/verificarDocumentoFirmadoResponse" message="tns:verificarDocumentoFirmadoResponse"/>
</operation>
<operation name="firmarDocumentoServidor">
<input wsam:Action="http://itama.com/ServiceSoap/firmarDocumentoServidorRequest" message="tns:firmarDocumentoServidor"/>
<output wsam:Action="http://itama.com/ServiceSoap/firmarDocumentoServidorResponse" message="tns:firmarDocumentoServidorResponse"/>
</operation>
<operation name="cargarDocumentoPendiente">
<input wsam:Action="http://itama.com/ServiceSoap/cargarDocumentoPendienteRequest" message="tns:cargarDocumentoPendiente"/>
<output wsam:Action="http://itama.com/ServiceSoap/cargarDocumentoPendienteResponse" message="tns:cargarDocumentoPendienteResponse"/>
</operation>
<operation name="descargarDocumentoFirmado">
<input wsam:Action="http://itama.com/ServiceSoap/descargarDocumentoFirmadoRequest" message="tns:descargarDocumentoFirmado"/>
<output wsam:Action="http://itama.com/ServiceSoap/descargarDocumentoFirmadoResponse" message="tns:descargarDocumentoFirmadoResponse"/>
</operation>
</portType>
<binding name="ServiceSoapPortBinding" type="tns:ServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="firmaHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtieneHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="anulaDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarParametros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmarDocumentoServidorByte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarCertificado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarDocumentoFirmado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmarDocumentoServidor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarDocumentoPendiente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="descargarDocumentoFirmado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceSoap">
<port name="ServiceSoapPort" binding="tns:ServiceSoapPortBinding">
<soap:address location="http://64.76.70.142:8080/signature-web/ServiceSoap"/>
</port>
</service>
</definitions>